body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.main{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
 
}
.size{
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}
.center{
  margin: 0;
}
.wrap_counter{
  display: flex;
  justify-content: center;
}
.counter{
  margin-top: 10px;
  height: 25px;
  width: 110px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa3e5d;
  border: 3.5px solid #bb1c45;
}
.wrap_click_value{
  display: flex;
  justify-content: center;
}
.click_value{
  margin: 10px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa3e5d;
  border: 3.5px solid #bb1c45;
}
.wrap_automat{
  display: flex;
  justify-content: center
}
.automat {
  height: 80px;
  width: 100px;
  margin: 20px;
  border-radius: 25px;
  background-color: #3829c4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid#bb1c45 ;
  box-shadow: 0px 10px 13px 3px rgba(0, 0, 0, 5);
}
.wrap_circle{
  display: flex;
  justify-content: center;
}
.circle{
  display: flex;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffdd4c;
  border: 3px solid #bb1c45;
  box-shadow: 0px 10px 13px 3px rgba(0, 0, 0, 5);
  
}
.circle:hover{
  cursor: pointer;
  background-color: #e7981f;
}
.wrap_sound{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.wrap_show{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.show{
  margin-top: 10px;
  display: block;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 180px;
  border-radius: 25px;
  color: white;
  background-color: #fa3e5d;
  border: 3.5px solid #bb1c45;
}
.show_JACKPOT{
  margin-top: 10px;
  display: block;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 280px;
  border-radius: 25px;
  color: white;
  background-color:#f30000;
  border: 3.5px solid #bb1c45;
}
.p-size{
  margin: 10px;
  font-size: 20px;
}
.show_null{
  margin-top: 17px;
  height: 40px;
}
.contacts{
  margin: 0;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(8, 8, 8, 0.7);
  }
  .lincs{
    display: flex;
    justify-content: center;
  }
  .color{
    color:antiquewhite
  }
  .githab{
     font-size: 30px;
   
  }
.wrap_results{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.results{
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 110px;
  border-radius: 25px;
  color: white;
  background-color: rgb(8, 8, 8, 0.7);
}
.result_place{
  font-size: 11px;
}
.result_num{
  margin: 0;
  padding: 0;
  height: 25px;
}